In [1]:
import pandas as pd

In [2]:
df_json = pd.read_json("../data_raw/dados_empresaA.json")

In [3]:
df_json.head()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7

In [4]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3123 entries, 0 to 3122
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nome do Produto        3123 non-null   object
 1   Categoria do Produto   3123 non-null   object
 2   Preço do Produto (R$)  3123 non-null   float64
 3   Quantidade em Estoque  3123 non-null   int64
 4   Filial                 3123 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 146.4+ KB

In [5]:
df_csv = pd.read_csv("../data_raw/dados_empresaB.csv")

In [6]:
df_csv.head()

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja,Data da Venda
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1,2023-04-13 18:58:06.794203
1,Batom matte,Eletrônicos,74.15,48,Filial 9,2023-06-03 18:58:06.794203
2,Corretivo,Roupas,54.86,36,Filial 5,2023-06-08 18:58:06.794203
3,Delineador líquido,Roupas,91.29,1,Filial 8,2023-02-27 18:58:06.794203
4,Batom líquido,Roupas,44.65,52,Filial 2,2022-09-05 18:58:06.794203

In [7]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323 entries, 0 to 1322
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nome do Item              1323 non-null   object
 1   Classificação do Produto  1323 non-null   object
 2   Valor em Reais (R$)       1323 non-null   float64
 3   Quantidade em Estoque     1323 non-null   int64
 4   Nome da Loja              1323 non-null   object
 5   Data da Venda             1323 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 62.1+ KB

In [8]:
df_csv.drop(columns=['Data da Venda'], inplace=True)

In [9]:
df_csv.head()

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1
1,Batom matte,Eletrônicos,74.15,48,Filial 9
2,Corretivo,Roupas,54.86,36,Filial 5
3,Delineador líquido,Roupas,91.29,1,Filial 8
4,Batom líquido,Roupas,44.65,52,Filial 2

In [10]:
df_json.columns

Index(['Nome do Produto', 'Categoria do Produto', 'Preço do Produto (R$)',
       'Quantidade em Estoque', 'Filial'],
      dtype='object')

In [11]:
df_csv.columns = ['produto', 'categoria', 'valor', 'quantidade','filial']
df_json.columns = ['produto', 'categoria', 'valor', 'quantidade','filial']

In [12]:
df_json.columns

Index(['produto', 'categoria', 'valor', 'quantidade', 'filial'], dtype='object')

In [13]:
df_csv.columns

Index(['produto', 'categoria', 'valor', 'quantidade', 'filial'], dtype='object')

In [14]:
df_csv['loja'] = 'B'
df_json['loja'] = 'A'

In [15]:
df = pd.concat([df_csv,df_json])
df.head()

                produto    categoria  valor  quantidade    filial loja
0  Lápis de sobrancelha       Roupas  55.17          62  Filial 1    B
1           Batom matte  Eletrônicos  74.15          48  Filial 9    B
2             Corretivo       Roupas  54.86          36  Filial 5    B
3    Delineador líquido       Roupas  91.29           1  Filial 8    B
4         Batom líquido       Roupas  44.65          52  Filial 2    B

In [16]:
df.to_csv("../data_processed/dados_processados.csv",index=False)